<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="list-group">
        <label>Hungry</label>

        <div id="burgerList">
          {{!-- add EAT list items here--}}


          <ol>
            {{#each bestBurger}}
            {{#unless devoured}}
            <li>{{burger_name}}
              <button type="submit" class="btn btn-warning btn-sm devour-btn" id="devour-btn" data-id={{id}}>
                Devour It!
              </button>
              <button type="submit" class="btn btn-danger btn-sm delete-btn" id="delete-btn" data-id={{id}}>
                Trash It!
              </button>
            </li>
            {{/unless}}
            {{/each}}
          </ol>


        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="list-group">
        <label>Less Hungry...maybe Full</label>
        <div id="devourList">

          {{!-- add ATE list items here --}}
          <ol>
            {{#each bestBurger}}
            {{#if devoured}}
            <li>
              {{burger_name}}
               <button type="submit" class="btn btn-danger btn-sm delete-btn" id="delete-btn" data-id={{id}}>
                Throw It Up!
              </button>
            </li>
            {{/if}}
            {{/each}}
          </ol>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      {{!-- method,action,name and type(submit) are all important parts of working post request --}}
      <form class="form-group" method="post" action="/new">
        
        
        <button type="submit" class="btn btn-primary btn-md" id="add-btn">
          <span class="fa fa-book"></span> Add Ur Burger</button>
          <input type="text" class="form-control" id="add" name="add" placeholder="Unique Burger Details" required>
          <label>To Hungry List</label>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="../assets/js/add.js"></script>